.wrapper h1 {
  font-family: 'Londrina Solid';
  font-size: 5rem;
}

.bannerSection {
}

.copy {
  font-size: 20px;
  font-weight: 500;
}

.wrapper {
  margin-bottom: 50px;
}

@media (max-width: 992px) {
  .wrapper {
    /* padding: 2rem; */
    padding: 0rem;
  }
}

@media (min-width: 992px) {
  .wrapper h1 {
    font-size: 4rem;
    color: var(--lost-dark) !important;
  }
}
