.link,
.link:visited,
.link:active {
  color: var(--brand-dark-green);
  text-decoration: underline;
}
.link:hover {
  color: var(--lost-red);
}

.bidRow {
  font-weight: normal !important;
  color: var(--lost-dark) !important;
}

.currentBidCol {
  border-right: 0 !important;
}
